{{> success}}
<div class="page-header">
    <h1 class="text-center">OpenAM Server Info</h1>
</div>
<p id="loader">Loading...</p>
<pre id="data"></pre>
<a href="./logout" class="btn btn-lg btn-block btn-uppercase btn-primary">Sign Out</a>

<script type="text/javascript">
    $(function () {
        try {
            $.ajax({
                headers: {
                    Accept: 'application/json',
                    'Accept-API-Version': 'resource=1.0',
                },
                method: 'GET',
                url: '{{amUrl}}/json/serverinfo/version',
                xhrFields: {
                    // This will cause cookie written by AM or hosted page to be included
                    withCredentials: true
                }
            }).done(function (data) {
                $('#data').text(JSON.stringify(data, null, 2));
            }).fail(function (xhr) {
                alert('Failed to load server information: ' + xhr);
            }).always(function () {
                $('#loader').hide();
            });
        } catch (e) {
            alert('Failed to load server information: ' + (e.message || e.toString()));
        }
    });
</script>