{{> success}}
<div class="page-header">
    <h1 class="text-center">Your Profile</h1>
</div>
<pre id="data">{{json data}}</pre>
<a href="./logout" class="btn btn-lg btn-block btn-uppercase btn-primary">Sign Out</a>