{{> logo}}
<div class="page-header">
    <h1 class="text-center">Sample Application</h1>
</div>

<form method="post">
    <input type="submit" class="btn btn-lg btn-block btn-uppercase btn-primary" value="Sign In" />
</form>