{{> logo}}
<header>
  <h1 class="text-center">Forgot Password</h1>
</header>

<form method="post" action="/forgot-password">
  <fieldset>
    <label>Username</label>
    <input
      name="username"
      type="text"
      pattern=".{1,}"
      class="input-text fullwidth"
      value="{{data.username}}"
      placeholder=""
      required
    />
  </fieldset>
  <fieldset>
    <label>Email</label>
    <input
      name="email"
      type="text"
      pattern=".{1,}"
      class="input-text fullwidth"
      value="{{email}}"
      placeholder=""
      required
    />
  </fieldset>
  <button type="submit">Reset my password</button>
</form>
{{#if resp.success}}
<p class="alert alert-info">Check your email for a password reset link.</p>
{{else if resp.problem}}
<p class="alert alert-danger">There was a problem resetting your password.</p>
{{/if}}
<footer>
  <p>
    <span
      >Already have an account?
      <a id="sign-in" href="signin-non-hosted">Sign in</a></span
    >
  </p>
  <p>
    <span
      >Forgot username?
      <a id="recover-username" href="recover-username"
        >Retrieve it here</a
      ></span
    >
  </p>
</footer>
<br />
