{{> logo}}
<header>
    <h1 class="text-center">Sample Application</h1>
</header>
<br />
<form method="post" action="/signin-hosted">
    <button type="submit">Hosted SignIn</button>
</form>
<br />
<form>
    <a href="/signin-non-hosted" class="button">Non-Hosted SignIn</a>
</form>