{{> logo}}
<header>
  <h1 class="text-center">Reset Password</h1>
</header>

<form method="post" action="">
  <fieldset>
    <label>New Password</label>
    <input
      name="password"
      type="password"
      pattern=".{6,}"
      class="input-text fullwidth"
      placeholder=""
      required
    />
  </fieldset>
  <button type="submit">Reset my password</button>
</form>

{{#if failure}}
<p class="alert alert-danger">{{failure}}</p>
{{else if success}}
<p class="alert alert-info">Your password was reset successfully.</p>
{{/if}}

<footer>
  <p>
    <span
      >Already have an account?
      <a id="sign-in" href="signin-non-hosted">Sign in</a></span
    >
  </p>
  <p>
    <span
      >Forgot username?
      <a id="recover-username" href="recover-username"
        >Retrieve it here</a
      ></span
    >
  </p>
</footer>
<br />
